.vcuarts-branding-bar {
  a, a:active, a:visited {
    border: none;
    outline: none;
  }

  @include span(last 9 of 12);
}

.vcuarts-branding-bar a.vcuarts-bar .arts-color {
  fill: $black;
}

.vcuarts-branding-bar .inner-vcubar {
  padding: 0 40px 0 0;
}